<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>{{ title }}</title>
</head>
<body>
  <main>
    <div class="pass-container">
      <div class="hint-container" (click)="focusInput()">
        <div class="pass-input">
          <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Password" [(ngModel)]="password" (ngModelChange)="onPasswordChange()"  #passwordInput>
          <button class="show-pass-btn" (click)="togglePasswordVisibility()">
            <i style="font-size:40px" class="fa show">{{showPassword ? '&#xf070;' : '&#xf06e;' }}</i>
          </button>
        </div>
        <span class="hint-text">
            Special Symbols: "! \"#$%&'()*+,-./:;<=>?@[\]^_`|}{{ "{" }}~"
        </span>
      </div>

      <div class="requirements">
        <p [ngClass]="attachAppropriateClass(1)" >Easy: Use letters or digits or symbols</p>
        <p [ngClass]="attachAppropriateClass(2)" >Medium: Use combination of letters and symbols or letters and digits or digits and symbols</p>
        <p [ngClass]="attachAppropriateClass(3)" >Strong: Use letters, symbols and digits</p>
      </div>
    </div>
  </main>
</body>
</html>
